body {
  background: radial-gradient(
    circle,
    rgba(140, 136, 138, 0.773547) 0%,
    #363738 100%
  );
}

.header {
  display: flex;
  width: 65%;
  margin: 7% auto 0;
  margin-bottom: 15px;
  justify-content: space-between;
}

#nombre {
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  font-size: 25px;
  font-weight: bold;
  text-overflow: ellipsis;
  color: rgb(246, 240, 240);
}

.white-container {
  display: flex;
  width: 65%;
  padding: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #fff;
  justify-content: center;
}
.menu-container {
  display: block;
  width: 35%;
  padding-right: 20px;
}
.tu-cuenta {
  padding-left: 24px;
  margin: 0;
  margin-left: -30px;

  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: normal;
  color: #2a333d;
  border-left: 6px solid #b52cc1;
}
.links {
  position: relative;
  display: block;
  padding: 0;
  margin: 20px 0;
  margin-bottom: 30px;
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: #666;
  border: 0;
  background-color: transparent;
}
.links:hover {
  margin-left: 10px;

  color: #9e2cc1;
}
.green-container {
  display: flex;
  width: 65%;
  box-sizing: border-box;

  text-align: center;

  color: white;
  border-radius: 8px;
  background-color: #922cc1;
}
.cuenta-info {
  display: block;
  width: 100%;
}
#limite-extraccion {
  overflow: hidden;

  font-size: 15px;

  text-overflow: ellipsis;
}

#saldo-cuenta {
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: hidden;
  font-size: 6.5vw;

  text-align: center;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 800px) {
  .white-container {
    flex-direction: column-reverse;
  }

  .green-container {
    width: 100%;
    margin-bottom: 20px;
  }

  #saldo-cuenta {
    font-size: 8.5vw;
  }

  .menu-container {
    width: 100%;
  }

  .header {
    margin-bottom: 10px;
    flex-direction: column;

    align-items: center;
  }
}
